@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

form {
  input,
  textarea {
    @apply border border-gray-300 bg-white w-full p-3;
  }
  textarea {
    @apply field-sizing-content min-h-12;
  }
}

.button {
  @apply flex py-2 px-3 rounded transition-all ease-in-out duration-300 cursor-pointer min-h-10;
  &.button--default {
    @apply bg-gray-200 border-gray-300 hover:bg-gray-300 hover:border-gray-500;
  }
}

[data-loading="true"] {
  @apply animate-pulse opacity-50;
}